body{margin:0px;padding:0px;background-color:#fff;color:#000000;/*min-height:100vh;*/height:2000px;}
header{background-image:url('https://secure-mcpc.github.io/2024wl/assets/pic/header.png');background-size:720px auto;height:512;}
nav{position:sticky;top:0;z-index:100;background-color:#fff;border:1px solid #a1a1a1;height:50px;border-left-style:none;border-right-style:none;}
a{font-family:mytFont;font-size:25px;}
a:hover{font-family:mytFont;font-size:25px;border:1px solid #a1a1a1;border-radius:5px;background-color:#dddddd;}
a:visited{font-family:mytFont;font-size:25px;}
li{}
ul{}
img{}
footer{}
.title{}
.main{min-height:100%;width:750px;margin-left:auto;margin-right:auto;border:2px solid #a1a1a1;border-top-style:dotted;}
@font-face{font-family: myFont;src:url('kai.ttf');}
p{font-family:mytFont;font-size:25px;}
